h1 {
    font-size: 40px;
    font-weight: 600;
    font-family: 'Segoe UI';
    background: linear-gradient(90deg, #2c2c2c, #bbdefb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.2);
}

.body{
    display: flex;
    flex-direction: column;
    margin: 40px 0px 0px 50px;
    gap: 20px;
    align-items: center;
}
.body .ajouterMorceau {
    all: unset;
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 350px;
    align-items: center;
    cursor: pointer;
    background-color: #4BAE4F;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    align-self: flex-start;
    margin-left: 300px;
}

.body .ajouterMorceau img {
    height: 50px;
    margin-left: 5px;
}

.body .ajouterMorceau span{
    font-size: 20px;
    color: white;
    height: 40px;
    line-height: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.body ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
}

